.body-event {
  background-color: var(--secondary-color);
  font-family: Helvetica, sans-serif;
}

.descriptionContainer {
  margin: 2rem 2rem 5rem 2rem;
  padding-right: 1rem;
}

.descriptionContainer h4 {
  margin-bottom: 2rem;
  font-weight: 650;
  font-size: 34px;
}

.descriptionContainer p {
  font-size: 18px;
}

.containerDetail {
  margin: 2rem auto;
  padding: 1rem;
}

.detail-event-landing {
  position: relative;
  min-height: 100vh;
}

.detail_event {
  margin-top: 5rem;
}

.eventImage {
  height: 400px; /* Adjust the height as needed */
  width: 100%;
  background-size: cover;
  background-position: center;
}
